@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

*{
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: 'Sora', sans-serif;
}

body{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #FAFAF9;
      height: 100vh;

}

main{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 80%; 
      border: 1px solid;
}
#text{
      border: 2px solid red;
      width: 46%;
      color: #52525A;
}


#star{
      height: 45px;
      background-color: #f5c044f1;
      border-radius: 50%;
      padding: 7px;
      margin-bottom: 0.7rem;
}

h1{
      font-weight: 600;
      font-size: 36px;
      margin-bottom: 0.95rem;
      color: black;
}

#info{
      line-height: 2rem;
      font-size: 20px;
      font-weight:400;
      margin-bottom: 2rem;
}

ul{
      list-style: none;
}

li{
      /* border: 1px solid; */
      vertical-align: text-top;
      font-size: 16px;

      display: flex;
      align-items: center;
      line-height: 2.4rem;
}

li img{
      margin-right: 10px;
}


#cards{
      /* border: 2px solid green; */
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
}

.card{
      background-color: white;
      border-radius: 1rem;
      /* border: 2px solid dodgerblue; */
      width: 65%;
      box-shadow: 2px 2px 50px #52525a3f;
      padding: 1.5rem;
}

#card1{
      margin-bottom: 3rem;
      align-self: flex-end;
}


.header{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 1rem;
}

.main-img{
      height: 1.8rem;
}


.stars{
      margin-left: 1rem;
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
}

.stars img{
      scale: 1.01;
      padding:2px ;
}

h2{
      font-size: 16px;
      font-weight:500;
      margin-bottom: 0.65rem;
}

.card p{
      font-size: 16px;
      line-height: 1.8rem;
      color: #52525A;
      font-weight: 400;
}